Repository AGH-IO-Antreprenerzy/sumo-championship-manager, pull requests merged in 2024-03, with the labels that each got.

#12 [AN-27] Adding Seasons with Categories
  backend/sumo-championship/pom.xml
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/controller/SeasonController.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/controller/WrestlerController.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/CategoryDto.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/request/SeasonRequest.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/response/WrestlersResponse.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/db/season/Category.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/db/season/Season.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/repository/CategoryRepository.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/repository/SeasonRepository.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/repository/WrestlerRepository.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/service/SeasonService.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/service/WrestlerService.java
  backend/sumo-championship/src/main/resources/application.properties
  backend/sumo-championship/src/test/java/com/sumoc/sumochampionship/service/WrestlerServiceTest.java
Labels: enhancement, backend

#10 Feature/AN-20: Login page working
  frontend/sumo-championship/package.json
  frontend/sumo-championship/src/App.tsx
  frontend/sumo-championship/src/api/generalUtils.ts
  frontend/sumo-championship/src/api/login.ts
  frontend/sumo-championship/src/assets/sumo.png
  frontend/sumo-championship/src/components/Atoms/Submit.tsx
  frontend/sumo-championship/src/components/Login.tsx
  frontend/sumo-championship/src/components/Nav.tsx
  frontend/sumo-championship/src/components/molecules/TextField.tsx
  frontend/sumo-championship/src/components/organisms/LoginForm.tsx
  frontend/sumo-championship/src/components/organisms/Nav.tsx
  frontend/sumo-championship/src/contexts/UserContext.tsx
  frontend/sumo-championship/src/hooks/example.ts
  frontend/sumo-championship/src/index.tsx
  frontend/sumo-championship/src/pages/Home.tsx
  frontend/sumo-championship/src/pages/LoginPage.tsx
  frontend/sumo-championship/src/pages/Other.tsx
  frontend/sumo-championship/src/pages/Players.tsx
  frontend/sumo-championship/src/styles/Atoms.css
  frontend/sumo-championship/src/styles/Molecules.css
  frontend/sumo-championship/src/styles/Organisms.css
  frontend/sumo-championship/src/styles/Pages.css
  frontend/sumo-championship/src/styles/index.css
  frontend/sumo-championship/yarn.lock
Labels: enhancement, frontend

#11 CI for dev branch instead of main
  .github/workflows/main.yml
  .github/workflows/maven.yml
Labels: workflow or devops

#13 Fix frontend app build errors
  frontend/sumo-championship/.eslintrc.json
  frontend/sumo-championship/package.json
  frontend/sumo-championship/yarn.lock
Labels: bug

#15 [AN-28] Get Endpoints for Categories and Seasons
  backend/sumo-championship/README.md
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/controller/CategoryController.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/controller/SeasonController.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/CategoryDto.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/SeasonDto.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/response/AllSeasonResponse.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/response/CategoriesResponse.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/db/season/Season.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/repository/CategoryRepository.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/repository/SeasonRepository.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/service/CategoryService.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/service/SeasonService.java
  backend/sumo-championship/src/test/java/com/sumoc/sumochampionship/repository/CategoryRepositoryTest.java
  backend/sumo-championship/src/test/java/com/sumoc/sumochampionship/repository/SeasonRepositoryTest.java
  backend/sumo-championship/src/test/java/com/sumoc/sumochampionship/service/SeasonServiceTest.java
Labels: backend

#16 [AN-86] Filling database with data, backup of empty database
  database_utils/database_backup/backup.sql
  database_utils/sample_data/data/club.csv
  database_utils/sample_data/data/location.csv
  database_utils/sample_data/data/owned_clubs.csv
  database_utils/sample_data/data/website_user.csv
  database_utils/sample_data/data/wrestler.csv
  database_utils/sample_data/scripts/club.sql
  database_utils/sample_data/scripts/club_seq.sql
  database_utils/sample_data/scripts/location.sql
  database_utils/sample_data/scripts/location_seq.sql
  database_utils/sample_data/scripts/owned_clubs.sql
  database_utils/sample_data/scripts/website_user.sql
  database_utils/sample_data/scripts/website_user_seq.sql
  database_utils/sample_data/scripts/wrestler.sql
  database_utils/sample_data/scripts/wrestler_seq.sql
Labels: backend

#17 [AN-24] Fix Cors
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/controller/CategoryController.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/controller/SeasonController.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/controller/WrestlerController.java
Labels: bug, backend, ASAP

#22 .DS_Store files removed (fix #14)
  .DS_Store
  .gitignore
  frontend/.DS_Store
Labels: workflow or devops

#21 [AN-21] Feature: Website User Login
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/controller/AuthController.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/LoginDto.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/response/WebsiteUserResponse.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/config/SecurityConfig.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/repository/WebsiteUserRepository.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/service/CustomUserDetailsService.java
  backend/sumo-championship/src/main/resources/application.properties
  frontend/sumo-championship/src/api/generalUtils.ts
  frontend/sumo-championship/src/api/login.ts
  frontend/sumo-championship/src/contexts/UserContext.tsx
Labels: enhancement, backend, future task created

#23 [AN-33][AN-110]
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/controller/CategoryController.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/controller/TournamentController.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/CategoryDto.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/LocationDto.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/TournamentDto.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/request/CategoryRequest.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/request/SeasonRequest.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/request/TournamentRequest.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/response/AllTournamentsResponse.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/db/season/Location.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/repository/CategoryRepository.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/repository/LocationRepository.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/repository/SeasonRepository.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/repository/TournamentRepository.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/service/CategoryService.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/service/SeasonService.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/service/TournamentService.java
  backend/sumo-championship/src/test/java/com/sumoc/sumochampionship/repository/LocationRepositoryTest.java
  backend/sumo-championship/src/test/java/com/sumoc/sumochampionship/repository/SeasonRepositoryTest.java
  backend/sumo-championship/src/test/java/com/sumoc/sumochampionship/repository/TournamentRepositoryTest.java
  backend/sumo-championship/src/test/java/com/sumoc/sumochampionship/service/SeasonServiceTest.java
  backend/sumo-championship/src/test/java/com/sumoc/sumochampionship/service/TournamentServiceTest.java
  frontend/sumo-championship/src/styles/Molecules.css
Labels: bug, backend

#20 [AN-100] Navbar fix - functionality check
  frontend/sumo-championship/src/App.tsx
  frontend/sumo-championship/src/assets/icons/logo.png
  frontend/sumo-championship/src/components/organisms/Nav.tsx
  frontend/sumo-championship/src/pages/Contact.tsx
  frontend/sumo-championship/src/pages/Tournaments.tsx
  frontend/sumo-championship/src/routes/ROUTES.ts
  frontend/sumo-championship/src/styles/Nav.css
Labels: enhancement, frontend

#25 [AN-111] Add remaining endpoints
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/controller/SeasonController.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/controller/TournamentController.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/LocationDto.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/TournamentDto.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/request/TournamentRequest.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/response/SeasonDetailsResponse.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/db/season/Tournament.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/repository/TournamentRepository.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/service/SeasonService.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/service/TournamentService.java
  backend/sumo-championship/src/test/java/com/sumoc/sumochampionship/service/TournamentServiceTest.java
Labels: bug, backend

#24 [AN-26] Add season details page
  frontend/sumo-championship/src/App.tsx
  frontend/sumo-championship/src/api/api.ts
  frontend/sumo-championship/src/api/season.ts
  frontend/sumo-championship/src/assets/icons/logo.png
  frontend/sumo-championship/src/assets/images/tournamentPlaceholder.png
  frontend/sumo-championship/src/components/Atoms/DetailItem.tsx
  frontend/sumo-championship/src/components/Atoms/Tile.tsx
  frontend/sumo-championship/src/components/molecules/CategoryItem.tsx
  frontend/sumo-championship/src/components/molecules/SeasonItem.tsx
  frontend/sumo-championship/src/components/molecules/SeasonList.tsx
  frontend/sumo-championship/src/components/molecules/TournamentItem.tsx
  frontend/sumo-championship/src/components/molecules/TournamentsList.tsx
  frontend/sumo-championship/src/components/organisms/CategoryForm.tsx
  frontend/sumo-championship/src/components/organisms/CategoryTable.tsx
  frontend/sumo-championship/src/components/organisms/Nav.tsx
  frontend/sumo-championship/src/pages/AddSeason.tsx
  frontend/sumo-championship/src/pages/AllSeasonsPage.tsx
  frontend/sumo-championship/src/pages/SeasonPage.tsx
  frontend/sumo-championship/src/routes/ROUTES.ts
  frontend/sumo-championship/src/styles/Atoms.css
  frontend/sumo-championship/src/styles/Molecules.css
  frontend/sumo-championship/src/styles/Nav.css
  frontend/sumo-championship/src/styles/Organisms.css
  frontend/sumo-championship/src/types/Seasons.d.ts
  frontend/sumo-championship/src/types/Tournament.d.ts
  frontend/sumo-championship/src/types/Tournaments.ts
  frontend/sumo-championship/src/utils/dateUtils.ts
Labels: enhancement, frontend

#26 Feature/AN-32 Forms for adding tournaments works
  frontend/sumo-championship/src/App.tsx
  frontend/sumo-championship/src/api/category.ts
  frontend/sumo-championship/src/api/tournament.ts
  frontend/sumo-championship/src/components/Atoms/WeightBox.tsx
  frontend/sumo-championship/src/components/molecules/SelectField.tsx
  frontend/sumo-championship/src/components/molecules/WeightCategoriesContainer.tsx
  frontend/sumo-championship/src/components/organisms/AddTournamentForms/GeneralTrounamentInformation.tsx
  frontend/sumo-championship/src/components/organisms/AddTournamentForms/TournamentCategoriesInformation.tsx
  frontend/sumo-championship/src/pages/AddTournament.tsx
  frontend/sumo-championship/src/pages/AddTournamentPage.tsx
  frontend/sumo-championship/src/styles/Atoms.css
  frontend/sumo-championship/src/styles/Molecules.css
  frontend/sumo-championship/src/styles/Organisms.css
  frontend/sumo-championship/src/styles/Pages.css
  frontend/sumo-championship/src/types/Tournaments.ts
Labels: enhancement, frontend

#27 [AN-31][AN-36] Tournaments page and connecting add tournament form to the current functionality
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/controller/TournamentController.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/response/AllTournamentsResponse.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/repository/TournamentRepository.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/service/TournamentService.java
  frontend/sumo-championship/package.json
  frontend/sumo-championship/src/App.tsx
  frontend/sumo-championship/src/components/Atoms/ActivityIndicator.tsx
  frontend/sumo-championship/src/components/molecules/SelectField.tsx
  frontend/sumo-championship/src/components/molecules/TournamentItem.tsx
  frontend/sumo-championship/src/components/molecules/TournamentList.tsx
  frontend/sumo-championship/src/components/organisms/AddTournamentForms/GeneralTrounamentInformation.tsx
  frontend/sumo-championship/src/components/organisms/LoginForm.tsx
  frontend/sumo-championship/src/pages/AddTournamentPage.tsx
  frontend/sumo-championship/src/pages/AllSeasonsPage.tsx
  frontend/sumo-championship/src/pages/CurrentTournamentsPage.tsx
  frontend/sumo-championship/src/pages/Home.tsx
  frontend/sumo-championship/src/pages/LoginPage.tsx
  frontend/sumo-championship/src/pages/SeasonPage.tsx
  frontend/sumo-championship/src/pages/Tournaments.tsx
  frontend/sumo-championship/src/routes/ROUTES.ts
  frontend/sumo-championship/src/styles/Atoms.css
  frontend/sumo-championship/src/styles/Molecules.css
  frontend/sumo-championship/src/styles/Organisms.css
  frontend/sumo-championship/src/styles/Pages.css
  frontend/sumo-championship/src/types/Tournament.d.ts
  frontend/sumo-championship/yarn.lock
Labels: enhancement, backend, frontend
