Repository AGH-IO-Antreprenerzy/sumo-championship-manager, pull requests merged in 2024-04, with the labels that each got.

#30 [AN-77] [AN-79] [AN-81] Implementation of CRUD for Wrestlers
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/controller/AuthController.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/controller/CategoryController.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/controller/SeasonController.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/controller/TournamentController.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/controller/WrestlerController.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/WrestlersDto.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/category/CategoriesResponse.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/category/CategoryDto.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/category/CategoryRequest.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/enrollment/EnrollDto.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/season/AllSeasonResponse.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/season/SeasonDetailsResponse.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/season/SeasonDto.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/season/SeasonRequest.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/tournament/AllTournamentsResponse.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/tournament/LocationDto.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/tournament/TournamentDto.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/tournament/TournamentRequest.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/websiteuser/LoginDto.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/websiteuser/WebsiteUserResponse.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/wrestler/WrestlerDetails.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/wrestler/WrestlerRequest.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/wrestler/WrestlersDto.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/wrestler/WrestlersResponse.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/db/season/Category.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/db/season/Tournament.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/db/season/WrestlersEnrollment.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/repository/ClubRepository.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/repository/WrestlerEnrollmentRepository.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/service/CategoryService.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/service/CustomUserDetailsService.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/service/SeasonService.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/service/TournamentService.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/service/WrestlerService.java
  backend/sumo-championship/src/test/java/com/sumoc/sumochampionship/service/SeasonServiceTest.java
  backend/sumo-championship/src/test/java/com/sumoc/sumochampionship/service/TournamentServiceTest.java
  backend/sumo-championship/src/test/java/com/sumoc/sumochampionship/service/WrestlerServiceTest.java
Labels: bug, question, backend

#31 [AN-128] Fix getting and posting categories
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/controller/v1/AuthController.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/controller/v1/CategoryController.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/controller/v1/SeasonController.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/controller/v1/TournamentController.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/controller/v1/WrestlerController.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/controller/v2/CategoryController2.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/controller/v2/SeasonController2.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/category/CategoriesResponse2.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/category/CategoryDto2.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/category/helpers/WeightDetailsRequest.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/season/SeasonRequest2.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/config/SecurityConfig.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/service/CategoryService.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/service/SeasonService.java
Labels: bug, backend

#33 [AN-131] Docker added
  .gitignore
  README.md
  backend/sumo-championship/Dockerfile
  default.env
  docker-compose.yml
  frontend/sumo-championship/Dockerfile
Labels: enhancement, workflow or devops, ASAP

#34 [AN-132] Quick change of TournamentDto
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/tournament/TournamentDto.java
Labels: bug, backend

#36 [AN-121] Endpoints for assigning wrestlers to tournaments
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/controller/v1/CategoryController.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/controller/v1/ClubController.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/controller/v1/WrestlerController.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/controller/v1/WrestlerEnrollmentController.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/category/CategoryDto2.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/club/ClubDto.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/wrestlerenrollment/WrestlerEnrollmentRequest.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/db/people/Wrestler.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/db/season/WrestlersEnrollment.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/repository/CategoryRepository.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/repository/ClubRepository.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/repository/WrestlerRepository.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/service/CategoryService.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/service/ClubService.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/service/WrestlerEnrollmentService.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/service/WrestlerService.java
  backend/sumo-championship/src/test/java/com/sumoc/sumochampionship/repository/CategoryRepositoryTest.java
  backend/sumo-championship/src/test/java/com/sumoc/sumochampionship/repository/LocationRepositoryTest.java
  backend/sumo-championship/src/test/java/com/sumoc/sumochampionship/repository/SeasonRepositoryTest.java
  backend/sumo-championship/src/test/java/com/sumoc/sumochampionship/repository/TournamentRepositoryTest.java
  backend/sumo-championship/src/test/java/com/sumoc/sumochampionship/repository/WrestlerRepositoryTest.java
  backend/sumo-championship/src/test/java/com/sumoc/sumochampionship/service/CategoryServiceTest.java
  backend/sumo-championship/src/test/java/com/sumoc/sumochampionship/service/ClubServiceTest.java
  backend/sumo-championship/src/test/java/com/sumoc/sumochampionship/service/TournamentServiceTest.java
  backend/sumo-championship/src/test/java/com/sumoc/sumochampionship/service/WrestlerServiceTest.java
Labels: enhancement, backend

#37 [AN-149] Add Country Enum
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/controller/v1/CountryController.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/db/season/Country.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/service/ClubService.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/service/TournamentService.java
Labels: backend

#38 [AN-135&136] Repair adding tournament to season and adding wrestler to to…
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/db/people/Wrestler.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/service/TournamentService.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/service/WrestlerEnrollmentService.java
  backend/sumo-championship/src/test/java/com/sumoc/sumochampionship/db/people/WrestlerTest.java
  backend/sumo-championship/src/test/java/com/sumoc/sumochampionship/service/TournamentServiceTest.java
Labels: backend

#41 [AN-151] Season and Tournament Details
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/controller/v1/TournamentController.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/controller/v2/SeasonController2.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/season/SeasonDetailsResponse2.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/tournament/TournamentDetailsResponse.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/service/SeasonService.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/service/TournamentService.java
Labels: backend

#47 [AN-119] Endpoint for adding users
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/controller/v1/WebsiteUserController.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/websiteuser/WebsiteUserRequest.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/service/WebsiteUserService.java
Labels: enhancement, backend

#46 [AN-158] Endpoint for getting clubs from given country
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/controller/v1/ClubController.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/repository/ClubRepository.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/service/ClubService.java
Labels: enhancement, backend

#42 [AN-152] Endpoints for getting wrestlers to Tournament
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/controller/v1/WrestlerEnrollmentController.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/category/CategoryDto2.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/category/helpers/WeightDetailsRequest.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/wrestlerenrollment/WrestlerEnrollmentDto2.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/wrestlerenrollment/WrestlerEnrollmentResponse.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/service/WrestlerEnrollmentService.java
Labels: enhancement, backend

#49 [AN-161] All Wrestlers enrolled for certain Tournament
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/controller/v1/WrestlerEnrollmentController.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/wrestlerenrollment/WrestlerEnrollmentDto2.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/service/WrestlerEnrollmentService.java
Labels: backend, ASAP

#43 AN-118: Add trainer page added and added restriction for accessing pages by role
  frontend/sumo-championship/src/App.tsx
  frontend/sumo-championship/src/api/club.ts
  frontend/sumo-championship/src/api/country.ts
  frontend/sumo-championship/src/api/trainer.ts
  frontend/sumo-championship/src/components/Atoms/Button.tsx
  frontend/sumo-championship/src/components/molecules/CategoryForm/AgeCategoryFrom.tsx
  frontend/sumo-championship/src/components/molecules/CategoryForm/WeightCategoryFrom.tsx
  frontend/sumo-championship/src/components/molecules/SeasonList.tsx
  frontend/sumo-championship/src/components/molecules/SelectField.tsx
  frontend/sumo-championship/src/components/organisms/AddTournamentForms/GeneralTrounamentInformation.tsx
  frontend/sumo-championship/src/components/organisms/AddTrainerForm/AddTrainerForm.tsx
  frontend/sumo-championship/src/components/organisms/AddTrainerForm/addTrainerForm.css
  frontend/sumo-championship/src/components/organisms/Nav.tsx
  frontend/sumo-championship/src/pages/AddSeason.tsx
  frontend/sumo-championship/src/pages/AddTournamentPage.tsx
  frontend/sumo-championship/src/pages/AddTrainer/AddTrainer.tsx
  frontend/sumo-championship/src/pages/AddTrainer/addTrainer.css
  frontend/sumo-championship/src/pages/AllSeasonsPage.tsx
  frontend/sumo-championship/src/pages/CurrentTournamentsPage.tsx
  frontend/sumo-championship/src/pages/Home.tsx
  frontend/sumo-championship/src/pages/LoginPage.tsx
  frontend/sumo-championship/src/pages/SeasonPage.tsx
  frontend/sumo-championship/src/routes/allRoutes.ts
Labels: enhancement, frontend

#50 [AN-163] Get all club wrestlers
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/controller/v1/WrestlerController.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/wrestler/WrestlersDto.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/wrestler/WrestlersResponseNoPag.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/service/WrestlerEnrollmentService.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/service/WrestlerService.java
Labels: backend

#48 [AN-160] Endpoint for adding users (with clubs management)
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/club/ClubDto.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/club/ClubRequest.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/websiteuser/WebsiteUserRequest.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/db/people/Club.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/repository/ClubRepository.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/service/ClubService.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/service/WebsiteUserService.java
  backend/sumo-championship/src/test/java/com/sumoc/sumochampionship/repository/WrestlerRepositoryTest.java
  backend/sumo-championship/src/test/java/com/sumoc/sumochampionship/service/WrestlerServiceTest.java
Labels: enhancement, backend, refactor

#53 [AN-164] Bug
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/wrestler/WrestlersDto.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/service/WrestlerService.java
Labels: bug, backend

#52 [AN-106] JWT authorisation
  backend/sumo-championship/pom.xml
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/controller/v1/AuthController.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/controller/v1/ClubController.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/auth/AuthenticationRequest.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/auth/AuthenticationResponse.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/auth/AuthenticationService.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/auth/JWTAuthenticationFilter.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/auth/JwtService.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/auth/RegisterRequest.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/config/ApplicationConfig.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/config/SecurityConfig.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/seed/WebsiteUserSeed.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/service/CustomUserDetailsService.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/service/WebsiteUserService.java
  backend/sumo-championship/src/main/resources/application.properties
  frontend/sumo-championship/package.json
  frontend/sumo-championship/src/api/login.ts
  frontend/sumo-championship/src/components/organisms/AddTrainerForm/AddTrainerForm.tsx
  frontend/sumo-championship/src/components/organisms/Nav.tsx
  frontend/sumo-championship/src/contexts/UserContext.tsx
  frontend/sumo-championship/yarn.lock
Labels: enhancement, backend, frontend

#45 [AN-153] Add tournament details page
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/dto/wrestler/WrestlersDto.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/service/WrestlerEnrollmentService.java
  frontend/sumo-championship/src/App.tsx
  frontend/sumo-championship/src/components/Atoms/Button.tsx
  frontend/sumo-championship/src/components/molecules/SelectField.tsx
  frontend/sumo-championship/src/components/molecules/TextField.tsx
  frontend/sumo-championship/src/components/molecules/TournamentList.tsx
  frontend/sumo-championship/src/components/organisms/ChampionTable/ChampionItem.tsx
  frontend/sumo-championship/src/components/organisms/ChampionTable/ChampionTable.tsx
  frontend/sumo-championship/src/components/organisms/ChampionsPerCategoryTable/AgeCategoryItem.tsx
  frontend/sumo-championship/src/components/organisms/ChampionsPerCategoryTable/AssignedChampionCategoryItem.tsx
  frontend/sumo-championship/src/components/organisms/ChampionsPerCategoryTable/ChampionsPerCategoryTable.tsx
  frontend/sumo-championship/src/components/organisms/ChampionsPerCategoryTable/WeightCategoryItem.tsx
  frontend/sumo-championship/src/pages/AllSeasonsPage.tsx
  frontend/sumo-championship/src/pages/CurrentTournamentsPage.tsx
  frontend/sumo-championship/src/pages/RegisterChampionsForTournamentPage/RegisterChampionsForTournamentPage.tsx
  frontend/sumo-championship/src/pages/RegisterChampionsForTournamentPage/RegisterPreviewPage.tsx
  frontend/sumo-championship/src/pages/RegisterChampionsForTournamentPage/types.d.ts
  frontend/sumo-championship/src/pages/SeasonPage.tsx
  frontend/sumo-championship/src/pages/TournamentPage.tsx
  frontend/sumo-championship/src/routes/allRoutes.ts
  frontend/sumo-championship/src/styles/Atoms.css
  frontend/sumo-championship/src/styles/Organisms.css
  frontend/sumo-championship/src/types/Champion.d.ts
  frontend/sumo-championship/src/types/Club.d.ts
  frontend/sumo-championship/src/types/RegisteredChampions.d.ts
  frontend/sumo-championship/src/types/Seasons.d.ts
  frontend/sumo-championship/src/types/Tournament.d.ts
Labels: enhancement, backend, frontend

#51 [AN-156][AN-122] - nationalities page, clubs page, forms for adding clubs
  frontend/sumo-championship/src/App.tsx
  frontend/sumo-championship/src/api/club.ts
  frontend/sumo-championship/src/assets/images/clubPlaceholder.png
  frontend/sumo-championship/src/assets/images/nationalityPlaceholder.png
  frontend/sumo-championship/src/components/molecules/ClubItem.tsx
  frontend/sumo-championship/src/components/molecules/ClubList.tsx
  frontend/sumo-championship/src/components/molecules/NationalitiesList.tsx
  frontend/sumo-championship/src/components/molecules/NationalityItem.tsx
  frontend/sumo-championship/src/components/organisms/AddClubForm.tsx
  frontend/sumo-championship/src/components/organisms/Nav.tsx
  frontend/sumo-championship/src/pages/AddClubPage.tsx
  frontend/sumo-championship/src/pages/AllClubsPage.tsx
  frontend/sumo-championship/src/pages/AllNationalitiesPage.tsx
  frontend/sumo-championship/src/pages/Contact.tsx
  frontend/sumo-championship/src/routes/allRoutes.ts
  frontend/sumo-championship/src/styles/Molecules.css
  frontend/sumo-championship/src/styles/Organisms.css
Labels: enhancement, frontend

#57 [AN-166] Fix adding website User
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/controller/v1/TournamentController.java
  backend/sumo-championship/src/main/java/com/sumoc/sumochampionship/api/controller/v1/WebsiteUserController.java
  frontend/sumo-championship/src/api/trainer.ts
  frontend/sumo-championship/src/components/organisms/AddTrainerForm/AddTrainerForm.tsx
Labels: backend, frontend
